body {
    background-color: #b11f1f;
}

header {
    background-color: #62d8ff;
    padding: 10px;
    text-align: right;
    border-radius: 50px 10px;
    font-family: 'Courier New';
}

h3{
    color: purple;
    font-style: italic;
    font-family: 'Trebuchet MS';
}

h2{
    text-align: center;
    color: aliceblue;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    color: rgb(218, 73, 11);
    text-decoration: navy;
    margin: 10px;
    font-size:larger;
}

.bx {
    color: rgb(62, 33, 166);
}

.row {
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}

.col {
    border: 1px solid #a00ad6;
    border-style: dotted;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(161, 189, 95);
    text-align: center;
    width: 30%;
}

.col img {
    width: 25%;
    height: auto;
}

.bxs-cart-download {
    color: green;
    cursor:alias;
}
